.academic {
    padding: 2rem;
    background-color:  #8f7d94;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.academic__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--color-cuarto);
}
